/*---------------- Common Styles -----------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e1e1e1;
}

:root {
    --color-secondary: #3990E1;
    --color-secondary-gradient: #1ED6E5;
    --grey-1: #ACB0B4;
    --grey-2: #838485;
}

html {
    font-size: 62.5%;
}

/*---------------- Container Styles -----------------*/
.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    grid-template-rows: repeat(6, min-content);
    width: 80%;
    margin: 0 auto;
    border: 0.2rem solid gray;
}

/*---------------- Navbar Styles -----------------*/
.navbar {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    grid-template-rows: 8rem;
    align-items: space-between;
    justify-content: center;
    padding: 1rem 2rem;
    box-shadow: 0 0 4rem rgba(0,0,0, 0.3);
    background-color: white;
}

.left, .middle, .right {
    align-self: center;
    display: flex;
}

.left {
    justify-self: start;
}

.right {
    justify-self: end;
    display: flex;
    align-items: center;
}

.right i {
    font-size: 2.5rem;
    color: var(--grey-1);
    margin-right: 4rem;
}

.middle {
    justify-self: center;
}

.left a {
    align-self: center;
    font-size: 2.5rem;
    color: var(--grey-1);
}

.logo-box {
    width: 10rem;
    height: auto;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-box {
    display: flex;
    align-items: center;
    border: 0.2rem solid var(--grey-1);
    width: 60rem;
    border-radius: 0.6rem;
    overflow: hidden;
}

.search-box input {
    width: 100%;
    border: none;
    padding: 1rem;
    border-right: 0.2rem solid var(--grey-1);
}

.search-box input:focus {
    outline: none;
}

.search-box input::-webkit-input-placeholder {
    font-family: inherit;
    font-weight: 300;
    color: var(--grey-1);
}

.button-search {
    width: 8rem;
    border:none;
    padding: 1rem;
    cursor: pointer;
}

.button-search:focus {
    outline: none;
}

.button-search i {
    font-size: 1.5rem;
    color: var(--grey-2);
}

.btn {
   border: none;
   background-image: linear-gradient(to right bottom, var(--color-secondary), var(--color-secondary-gradient));
   color: rgba(255,255,255, 0.8);
   font-size: 1.8rem;
   text-transform: uppercase;
   padding: 1rem 2.5rem;
   border-radius: 0.6rem;
   cursor: pointer;
}

/*---------------- Language Section -----------------*/
.not-clickable {
  cursor: not-allowed;
  color: var(--color-secondary);
}

.language {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    border: 0.2rem solid var(--color-secondary);
    margin-top: 2rem;
}

.language-top {
    display: flex;
    align-self: center;
    background-image: linear-gradient(to right bottom, var(--color-secondary), var(--color-secondary-gradient));
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    justify-content: space-between;
    color: white;
}

.question-box {
    display: flex;
}

.question-box i {
    font-size: 2rem;
    margin-right: 1rem;
}

.language-bottom {
    display: flex;
    align-self: center;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    justify-content: space-between;
    background-color: white;
}

.language-top i {
    font-size: 1.6rem;
}

.language-bottom a {
    text-decoration: none;
    color: var(--color-secondary);
}

/*---------------- Video Section -----------------*/
/*------- Screen -------*/
.screen{
  background-image: url(https://archive.vn/Bss88/17221bb7ea7ea2b8148e38157ba9f1a64b6dd251.png);
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  height: 50rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: -1;
  margin-top: 3rem;
}

.screen-text {
    width: 90%;
    margin: 0 auto;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    grid-column: 1 / 2;
}

.screen-text a {
    color: white;
}

.video-line {
    height: 0.5rem;
    width: 95%;
    background-color: red;
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0;
    border-style: none;
    padding: 0;
    margin: 0 auto;
    z-index: 5;
    overflow: hidden;
}

.video-icons {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    margin-top: -5rem;
    color: white;
    font-size: 1.6rem;
}

.left-icons i {
    margin-right: 2rem;
}

.right-icons i {
    margin-left: 2rem;
}

/*------- Video Info -------*/
.video-info {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.video-info p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.channel-info {
    position: relative;
    margin-top: 2rem;
}

.subscribe-section {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    position: relative;
}

.subscribe-left {
    display: flex;
    font-size: 1.6rem;
    margin-left: -4rem;
}

.subscribe-img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.subscribe-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#subscribe-anchor {
    text-decoration: none;
    color: rgba(0,0,0, 0.8);
    font-weight: 700;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: 0.01rem;
}

.subscribe-button {
    border-radius: 0.6rem;
    overflow: hidden;
    border: 0.2rem solid red;
}

.subscribe-button button {
    border: none;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
}

.subscribe-button i {
    margin-right: 1rem;
}

.subscribe-button span {
    padding: 1rem;
    font-size: 1.2rem;
}


.subcribe-right p {
    font-size: 1.9rem;
    margin: 1rem 0;
    margin-top: 5rem;
    position: absolute;
    right: 0;
}

.view-line {
    height: 0.2rem;
    width: 100%;
    background-color: var(--grey-1);
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0;
    border-style: none;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 2rem;
    z-index: 5;
    overflow: hidden;
}

.blue-span {
  position: absolute;
  width: 20rem;
  z-index: 6;
  background-color: var(--color-secondary);
  height: 1rem;
  right: 0;
}

.sharing-section {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  color: var(--grey-2);
}
.left-sharing {
  display: flex;
  margin-left: -2rem;
  font-size: 1.5rem;
}

.right-sharing {
    font-size: 1.5rem;
}

.left-sharing i, .right-sharing i {
  font-size: 1.8rem;
}

.left-sharing i{
  margin: 0 0.5rem 0 2rem;
}

.right-sharing i {
    margin-left: 2rem;
    margin-right: 0.5rem;
}
